<html>
<head>
  <title>RESULT</title>
  <style>
.container {
  position: relative;
  text-align: center;
  color:black;
}
.middlepane {
    width:100%;
    height:100%
    position: relative;
    float: right;
}
body {
  background-image: url("../static/result.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
</head>
<body >
  <div class="container">
  <div class="middlepane">
    <p class="b" style="font-size: 1.5vw;width:100%;height:auto;color:black;padding-right:10vw;" >Sorry! Not able to predict this image</p>
  <img src="/static/{{orig}}" style="width:50%;height:70%;padding-right:10vw;">
   <p class="b" style="font-size: 1.5vw;width:100%;height:auto;color:black;padding-right:10vw;" >Please upload another image</p>
</div>
</div>
</body>

</html>
